[theme="dark"]{
	--text-color: white;
	--background-color: black;
}
[theme="light"]{
	--text-color: black;
	--background-color: white;
}
textarea, button, input, body {
	background-color: var(--background-color);
	color: var(--text-color);
	border-color: var(--text-color);
}
input {
	margin: 5px 5px 5px 5px;
}
textarea {
	display: block;
}