@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;600&display=swap');

html body {
	line-height: 1.5;
	font-family: 'Lexend Deca', sans-serif;
	font-weight: 400;
}

iframe {
	padding: 5px;
	border-radius: 15px;
}

div {
	padding: 3px;
}

#better-speedrun-timer{
	font-size: 100px;
	font-weight: 600;
}

input {
	padding: 7px;
	border-radius: 7px;
	border: 0px solid rgba(0, 0, 0, 0);
}

button {
	padding: 7px;
	border-radius: 7px;
	border: 0px solid rgba(0, 0, 0, 0);
}

textarea {
	resize: none;
	padding: 7px;
	border-radius: 7px;
	border: 0px solid rgba(0, 0, 0, 0);
}

[theme="dark"] .header-buttons button {
	background-color: rgb(31, 31, 44);
	color: rgb(255, 255, 255);
}

[theme="white"] .header-buttons button {
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
}

[theme="dark"] {
	background-color: rgb(23, 23, 29);
	color: rgb(255, 255, 255);
}

[theme="light"] {
	background-color: rgb(255, 255, 255);
	color:rgb(0, 0, 0)
}

[theme="dark"] .title {
	color: rgb(255, 255, 255);
}

[theme="light"] .title {
	color: rgb(0, 0, 0);
}

[theme="dark"] input {
	background-color: rgb(31, 31, 44);
	color: rgb(255, 255, 255);
	transition: 0.25s;
}

[theme="dark"] input:hover {
	background-color: rgb(40, 40, 58);
	color: rgb(255, 255, 255);
}

[theme="dark"] ::placeholder {
	color: rgb(75, 75, 95);
}

[theme="light"] input {
	background-color: rgb(216, 216, 216);
	color: rgb(0, 0, 0);
	transition: 0.25s;
}

[theme="light"] input:hover {
	background-color: rgb(160, 160, 160);
	color: rgb(0, 0, 0);
}

[theme="light"] ::placeholder {
	color: rgb(83, 83, 83);
}

[theme="dark"] button {
	background-color: rgb(31, 31, 44);
	color: rgb(255, 255, 255);
	transition: 0.25s;
}

[theme="dark"] button:hover {
	background-color: rgb(40, 40, 58);
	color: rgb(255, 255, 255);
}

[theme="light"] button {
	background-color: rgb(216, 216, 216);
	color: rgb(0, 0, 0);
	transition: 0.25s
}

[theme="light"] button:hover {
	background-color: rgb(160, 160, 160);
	color: rgb(0, 0, 0);
}

[theme="dark"] textarea {
	background-color: rgb(31, 31, 44);
	color: rgb(255, 255, 255);
}

[theme="light"] textarea {
	color: rgb(0, 0, 0);
	background-color: rgb(255, 255, 255);
}