@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;600&display=optional');

html body {
	line-height: 1.5;
	font-family: 'Lexend Deca', sans-serif;
	font-weight: 400;
}

#better-speedrun-timer {
	font-size: 8vw;
	font-weight: 600;
}

#sourcecodebutton {
	float: right;
	margin-left: 5px;
}

input {
	padding: 7pt;
	border-radius: 7px;
	border: none;
}

select {
	height: 35px;
}

button, input {
	margin: 1px;
}

button, select {
	padding: 7pt;
	border-radius: 7px;
	border: none;
}

textarea {
	display: block;
	resize: none;
	padding: 7pt;
	margin-bottom: 7pt;
	border-radius: 7px;
	border: none;
}

[theme="dark"] {
	background-color: rgb(23, 23, 29);
	color: rgb(255, 255, 255);
}

[theme="light"] {
	background-color: rgb(255, 255, 255);
	color:rgb(0, 0, 0)
}

[theme="dark"] .title {
	color: rgb(255, 255, 255);
}

[theme="light"] .title {
	color: rgb(0, 0, 0);
}

[theme="dark"] input {
	background-color: rgb(36, 36, 50);
	color: rgb(255, 255, 255);
}

[theme="dark"] input:hover {
	background-color: rgb(40, 40, 58);
	color: rgb(255, 255, 255);
}

[theme="dark"] ::placeholder {
	color: rgb(75, 75, 95);
}

[theme="light"] input {
	background-color: rgb(235, 235, 235);
	color: rgb(0, 0, 0);
}

[theme="light"] input:hover {
	background-color: rgb(160, 160, 160);
	color: rgb(0, 0, 0);
}

[theme="light"] ::placeholder {
	color: rgb(83, 83, 83);
}

[theme="dark"] button, [theme="dark"] select {
	background-color: rgb(31, 31, 44);
	color: rgb(255, 255, 255);
}

[theme="dark"] button:hover, [theme="dark"] select:hover {
	background-color: rgb(40, 40, 58);
	color: rgb(255, 255, 255);
}

[theme="light"] button, [theme="light"] select {
	background-color: rgb(216, 216, 216);
	color: rgb(0, 0, 0);
}

[theme="light"] button:hover, [theme="light"] select:hover {
	background-color: rgb(160, 160, 160);
	color: rgb(0, 0, 0);
}

[theme="dark"] textarea {
	background-color: rgb(31, 31, 44);
	color: rgb(255, 255, 255);
}

[theme="light"] textarea {
	color: rgb(0, 0, 0);
	background-color: rgb(216, 216, 216);
}